body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.prose h3 { font-family: 'Lora', serif; }
header a { text-decoration: none; }
a { transition: all 150ms ease; }
canvas { max-width: 100%; height: auto; }


@media (max-width: 720px) {
    .resultadoscont {
        flex-direction: column;
    }

    #grafico {
        margin-bottom: 50px;
    }
}
